<html>
  <body>
    <h1>Edit User <%= session['user'].id %></h1>

     <form action='/users' method='get'>
       <!--<%= form_authenticity_token %>-->
       <input type="hidden" name="authenticity_token" value="u/wZoUKDdWtVm5TcFgEat0ULmbto7Cct52LxNICyIz/98aF1jKIWDJ57/oR09+EKwsWEDovMTsxt96o/202W4Q== ">
          First Name: <input type='text' name='firstName' value='<%= session['user'].firstName %>'>
          Last Name: <input type='text' name='lastName' value='<%= session['user'].lastName %>'>
          Email: <input type='text' name='email'value='<%= session['user'].email %>'>
          <input type='submit' value='Update'>
      </form>

  </body>
</html>
